<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elitsoft.servicampo.mapper.AgrupacionComercialMapper">

    <resultMap id="agrupacionComercialResultMap" type="com.elitsoft.servicampo.domain.entity.AgrupacionComercial">
        <id property="id" column="grcm_id" />
        <result property="nombreGrupoComercial" column="grcm_nombre" />
        </resultMap>

    <!-- Sentencia SQL de Encontrar por Clave -->
    <select id="encontrarPorClave" parameterType="long" resultMap="agrupacionComercialResultMap">
        SELECT grcm_id, grcm_nombre
        FROM ${schema}agrupaciones_comerciales
        WHERE grcm_id = #{id}
    </select>

   <!-- Sentencia SQL de Obtener todos-->
    <select id="obtenerTodos" resultMap="agrupacionComercialResultMap">
        SELECT grcm_id, grcm_nombre
        FROM ${schema}agrupaciones_comerciales
    </select>

    <!-- Sentencia SQL de Filtrar y paginar -->
    <select id="filtrar" resultMap="agrupacionComercialResultMap">
        SELECT * FROM ${schema}agrupaciones_comerciales
        <where>
            <if test="filtro != null">
                <if test="filtro.id != null">
                    AND grcm_id = #{filtro.id}
                </if>
                <if test="filtro.nombreGrupoComercial != null and filtro.nombreGrupoComercial != ''">
                    AND LOWER(grcm_nombre) LIKE '%' || LOWER(#{filtro.nombreGrupoComercial}) || '%'
                </if>
            </if>
        </where>
        <if test="campoOrden != null and campoOrden != ''">
            <choose>
                <when test="campoOrden == 'id'">ORDER BY grcm_id ${direccionOrden}</when>
                <when test="campoOrden == 'nombreGrupoComercial'">ORDER BY grcm_nombre ${direccionOrden}</when>
                <otherwise>ORDER BY grcm_id ASC</otherwise>
            </choose>
        </if>
        <if test="limite != null and desplazamiento != null">
            LIMIT #{limite} OFFSET #{desplazamiento}
        </if>
    </select>

    <!-- Sentencia SQL de contar el Filtro para paginacion -->
    <select id="contarFiltrar" resultType="int">
        SELECT COUNT(*) FROM ${schema}agrupaciones_comerciales
        <where>
            <if test="filtro != null">
                <if test="filtro.id != null">
                    AND grcm_id = #{filtro.id}
                </if>
                <if test="filtro.nombreGrupoComercial != null and filtro.nombreGrupoComercial != ''">
                    AND LOWER(grcm_nombre) LIKE '%' || LOWER(#{filtro.nombreGrupoComercial}) || '%'
                </if>
            </if>
        </where>
    </select>

    <!-- Sentencia SQL de Insertar con campo Auto Incrementado-->
      <select id="agregar" resultType="com.elitsoft.servicampo.domain.entity.AgrupacionComercial" affectData="true" flushCache="true">
        INSERT INTO ${schema}agrupaciones_comerciales (nombreGrupoComercial)
        VALUES (#{nombreGrupoComercial})
        returning grcm_id as id, grcm_nombre as nombreGrupoComercial
    </select>

    <!-- Sentencia SQL de Actualizar-->
    <update id="actualizar" parameterType="com.elitsoft.servicampo.domain.entity.AgrupacionComercial">
        UPDATE ${schema}agrupaciones_comerciales
        SET  grcm_nombre = #{nombreGrupoComercial}
        WHERE grcm_id = #{id}
    </update>

    <!-- Sentencia SQL de Eliminar-->
    <delete id="eliminar" parameterType="long">
        DELETE FROM ${schema}agrupaciones_comerciales
        WHERE grcm_id = #{id}
    </delete>

    <!-- Sentencia SQL de Insertar LOTE-->
    <insert id="agregarLote" parameterType="java.util.List" >
        INSERT INTO ${schema}agrupaciones_comerciales (grcm_nombre ) VALUES
        <foreach item="agrupacionComercial" collection="agrupacionComercialLote" separator=",">
            (#{agrupacionComercial.nombreGrupoComercial} )
        </foreach>
    </insert>

    <!-- Sentencia SQL de Actualizar LOTE-->
    <update id="actualizarLote" parameterType="java.util.List" >
        <foreach item='agrupacionComercial' collection='agrupacionComercialLote' separator=';'>
            UPDATE ${schema}agrupaciones_comerciales
            SET grcm_nombre = #{agrupacionComercial.nombreGrupoComercial}
            WHERE grcm_id = #{agrupacionComercial.id}
        </foreach>
    </update>

    <!-- Sentencia SQL de Eliminar LOTE-->
    <delete id="eliminarLote" parameterType="java.util.List" >
        DELETE FROM ${schema}agrupaciones_comerciales WHERE grcm_id IN
        <foreach item='id' collection='idLote' open='(' separator=',' close=')'>
            #{id}
        </foreach>
    </delete>
</mapper>