<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elitsoft.servicampo.mapper.CarroMapper">

    <resultMap id="carroResultMap" type="com.elitsoft.servicampo.domain.entity.Carro">
        <id property="componente.id" column="comp_id" />
        <result property="patente" column="carr_patente" />
        <result property="color" column="carr_color" />
    </resultMap>

    <!-- Sentencia SQL de Columnas -->
    <sql id="select">
        SELECT carr.comp_id, carr.carr_patente, carr.carr_color
    </sql>

    <!-- Sentencia SQL para el FROM -->
    <sql id="from">
        FROM ${schema}carros carr
    </sql>

    <!-- Sentencia SQL de Encontrar por Clave -->
    <select id="encontrarPorClave" parameterType="long" resultMap="carroResultMap">
        <include refid="select"/>
        <include refid="from"/>
        WHERE carr.comp_id = #{id}
    </select>

   <!-- Sentencia SQL de Obtener todos-->
    <select id="obtenerTodos" resultMap="carroResultMap">
        <include refid="select"/>
        <include refid="from"/>
    </select>

    <!-- Sentencia SQL de Filtrar y paginar -->
    <select id="filtrar" resultMap="carroResultMap">
        <include refid="select"/>
        <include refid="from"/>
        <where>
            <if test="filtro != null">
                <if test="filtro.componenteId != null">
                    AND carr.comp_id = #{filtro.componenteId}
                </if>
                <if test="filtro.patente != null and filtro.patente != ''">
                    AND LOWER(carr.carr_patente) LIKE '%' || LOWER(#{filtro.patente}) || '%'
                </if>
                <if test="filtro.color != null and filtro.color != ''">
                    AND LOWER(carr.carr_color) LIKE '%' || LOWER(#{filtro.color}) || '%'
                </if>
            </if>
        </where>
        <if test="campoOrden != null and campoOrden != ''">
            <choose>
                <when test="campoOrden == 'componenteId'">ORDER BY carr.comp_id ${direccionOrden}</when>
                <when test="campoOrden == 'patente'">ORDER BY carr.carr_patente ${direccionOrden}</when>
                <when test="campoOrden == 'color'">ORDER BY carr.carr_color ${direccionOrden}</when>
                <otherwise>ORDER BY carr.comp_id ASC</otherwise>
            </choose>
        </if>
        <if test="limite != null and desplazamiento != null">
            LIMIT #{limite} OFFSET #{desplazamiento}
        </if>
    </select>

    <!-- Sentencia SQL de contar el Filtro para paginacion -->
    <select id="contarFiltrar" resultType="int">
        SELECT COUNT(*)        
        <include refid="from"/>
        <where>
            <if test="filtro != null">
                <if test="filtro.componenteId != null">
                    AND carr.comp_id = #{filtro.componenteId}
                </if>
                <if test="filtro.patente != null and filtro.patente != ''">
                    AND LOWER(carr.carr_patente) LIKE '%' || LOWER(#{filtro.patente}) || '%'
                </if>
                <if test="filtro.color != null and filtro.color != ''">
                    AND LOWER(carr.carr_color) LIKE '%' || LOWER(#{filtro.color}) || '%'
                </if>
            </if>
        </where>
    </select>

    <!-- Sentencia SQL de Insertar-->
    <insert id="agregar" parameterType="com.elitsoft.servicampo.domain.entity.Carro">
        INSERT INTO ${schema}carros (comp_id, carr_patente, carr_color)
                             VALUES (#{componente.id}, #{patente}, #{color})
    </insert>


    <!-- Sentencia SQL de Actualizar-->
    <update id="actualizar" parameterType="com.elitsoft.servicampo.domain.entity.Carro">
        UPDATE ${schema}carros
        SET carr_patente = #{patente}, carr_color = #{color}
        WHERE comp_id = #{componente.id}
    </update>

    <!-- Sentencia SQL de Eliminar-->
    <delete id="eliminar" parameterType="long">
        DELETE FROM ${schema}carros
        WHERE comp_id = #{id}
    </delete>

    <!-- Sentencia SQL de Insertar LOTE-->
    <insert id="agregarLote" parameterType="java.util.List" >
        INSERT INTO ${schema}carros (comp_id, carr_patente, carr_color) VALUES
        <foreach item="carro" collection="carroLote" separator=",">
            (#{carro.componente.id}, #{carro.patente}, #{carro.color})
        </foreach>
    </insert>

    <!-- Sentencia SQL de Actualizar LOTE-->
    <update id="actualizarLote" parameterType="java.util.List" >
        <foreach item='carro' collection='carroLote' separator=';'>
            UPDATE ${schema}carros
            SET carr_patente = #{carro.patente}, carr_color = #{carro.color}
            WHERE comp_id = #{carro.componente.id}
        </foreach>
    </update>

    <!-- Sentencia SQL de Eliminar LOTE-->
    <delete id="eliminarLote" parameterType="java.util.List" >
        DELETE FROM ${schema}carros WHERE comp_id IN
        <foreach item="carro" collection="carroLote" open='(' separator=',' close=')'>
            #{carro.componente.id}
        </foreach>
    </delete>
</mapper>