<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elitsoft.servicampo.mapper.ContactoMapper">

    <resultMap id="contactoResultMap" type="com.elitsoft.servicampo.domain.entity.Contacto">
        <id property="id" column="cntc_id" />
        <result property="nombre" column="cntc_nombre" />
        <result property="apellidoPaterno" column="cntc_apellido_paterno" />
        <result property="apellidoMaterno" column="cntc_apellido_materno" />
        <result property="fechaNacimiento" column="cntc_fecha_nacimiento" />
        <result property="imagenPerfil" column="cntc_imagen_perfil" />
        <result property="correoElectronico" column="cntc_email" />
        <result property="telefonoFijo" column="cntc_fono_fijo" />
        <result property="telefonoMovil" column="cntc_fono_movil" />
        <association property="documentoIdentificacion"  resultMap="com.elitsoft.servicampo.mapper.DocumentoIdentificacionMapper.documentoIdentificacionResultMap" />
        <association property="cliente"                  resultMap="com.elitsoft.servicampo.mapper.ClienteMapper.clienteResultMap" />
    </resultMap>

    <!-- Sentencia SQL de Columnas -->
    <sql id="select">
        SELECT cntc.cntc_id ,           cntc.cntc_nombre , cntc.cntc_apellido_paterno, cntc.cntc_apellido_materno,
               cntc.cntc_imagen_perfil, cntc.cntc_email  , cntc.cntc_fono_fijo       , cntc.cntc_fono_movil      ,
               cntc.cntc_fecha_nacimiento, cntc.clnt_id  ,
               doid.doid_id ,           doid.doid_num    , doid.doid_dv              ,
               tpdi.tpdi_id ,           tpdi.tpdi_nombre , tpdi.tpdi_dsc
    </sql>

    <!-- Sentencia SQL para el FROM -->
    <sql id="from">
        FROM ${schema}contactos as cntc
        INNER JOIN ${schema}documentos_identificacion       as doid ON cntc.doid_id = doid.doid_id
        INNER JOIN ${schema}tipos_documentos_identificacion as tpdi ON doid.tpdi_id = tpdi.tpdi_id
    </sql>

    <!-- Sentencia SQL de Encontrar por Clave -->
    <select id="encontrarPorClave" parameterType="long" resultMap="contactoResultMap">
        <include refid="select"/>
        <include refid="from"/>
        WHERE cntc.cntc_id = #{id}
    </select>

   <!-- Sentencia SQL de Obtener todos-->
    <select id="obtenerTodos" resultMap="contactoResultMap">
        <include refid="select"/>
        <include refid="from"/>
    </select>

    <!-- Sentencia SQL de Filtrar y paginar -->
    <select id="filtrar" resultMap="contactoResultMap">
        <include refid="select"/>
        <include refid="from"/>
        <where>
            <if test="filtro != null">
                <if test="filtro.id != null">
                    AND cntc.cntc_id = #{filtro.id}
                </if>
                <if test="filtro.cliente != null">
                    AND cntc.clnt_id = #{filtro.cliente}
                </if>
                <if test="filtro.nombre != null and filtro.nombre != ''">
                    AND LOWER(cntc.cntc_nombre) LIKE '%' || LOWER(#{filtro.nombre}) || '%'
                </if>
                <if test="filtro.apellidoPaterno != null and filtro.apellidoPaterno != ''">
                    AND LOWER(cntc.cntc_apellido_paterno) LIKE '%' || LOWER(#{filtro.apellidoPaterno}) || '%'
                </if>
                <if test="filtro.apellidoMaterno != null and filtro.apellidoMaterno != ''">
                    AND LOWER(cntc.cntc_apellido_materno) LIKE '%' || LOWER(#{filtro.apellidoMaterno}) || '%'
                </if>
            </if>
        </where>
        <if test="campoOrden != null and campoOrden != ''">
            <choose>
                <when test="campoOrden == 'id'">ORDER BY cntc.cntc_id ${direccionOrden}</when>
                <when test="campoOrden == 'nombre'">ORDER BY cntc.cntc_nombre ${direccionOrden}</when>
                <when test="campoOrden == 'apellidoPaterno'">ORDER BY cntc.cntc_apellido_paterno ${direccionOrden}</when>
                <when test="campoOrden == 'apellidoMaterno'">ORDER BY cntc.cntc_apellido_materno ${direccionOrden}</when>
                <when test="campoOrden == 'cliente'">ORDER BY cntc.clnt_id  ${direccionOrden}</when>
                <otherwise>ORDER BY cntc.cntc_id ASC</otherwise>
            </choose>
        </if>
        <if test="limite != null and desplazamiento != null">
            LIMIT #{limite} OFFSET #{desplazamiento}
        </if>
    </select>

    <!-- Sentencia SQL de contar el Filtro para paginacion -->
    <select id="contarFiltrar" resultType="int">
        SELECT COUNT(*)        
        <include refid="from"/>
        <where>
            <if test="filtro != null">
                <if test="filtro.id != null">
                    AND cntc.cntc_id = #{filtro.id}
                </if>
                <if test="filtro.cliente != null">
                    AND cntc.clnt_id = #{filtro.cliente}
                </if>
                <if test="filtro.nombre != null and filtro.nombre != ''">
                    AND LOWER(cntc.cntc_nombre) LIKE '%' || LOWER(#{filtro.nombre}) || '%'
                </if>
                <if test="filtro.apellidoPaterno != null and filtro.apellidoPaterno != ''">
                    AND LOWER(cntc.cntc_apellido_paterno) LIKE '%' || LOWER(#{filtro.apellidoPaterno}) || '%'
                </if>
                <if test="filtro.apellidoMaterno != null and filtro.apellidoMaterno != ''">
                    AND LOWER(cntc.cntc_apellido_materno) LIKE '%' || LOWER(#{filtro.apellidoMaterno}) || '%'
                </if>
            </if>
        </where>
    </select>


    <!-- Sentencia SQL de Insertar con campo Auto Incrementado-->
      <select id="agregar" resultType="com.elitsoft.servicampo.domain.entity.Contacto" affectData="true" flushCache="true">
        INSERT INTO ${schema}contactos (cntc_nombre       , cntc_apellido_paterno, cntc_apellido_materno,  cntc_imagen_perfil    ,
                                        cntc_email        , cntc_fono_fijo       , cntc_fono_movil       , cntc_fecha_nacimiento ,
                                        doid_id           , clnt_id
                                        )
                                VALUES (#{nombre}         , #{apellidoPaterno}    , #{apellidoMaterno}   , #{imagenPerfil}       ,
                                       #{correoElectronico} , #{telefonoFijo}     , #{telefonoMovil}     , #{fechaNacimiento}    ,
                                       #{documentoIdentificacion.id}, #{cliente.id} )
        returning cntc_id as id, cntc_nombre as nombre, cntc_apellido_paterno as apellidoPaterno, cntc_apellido_materno as apellidoMaterno,
          cntc_imagen_perfil as imagenPerfil, cntc_email as correoElectronico, cntc_fono_fijo as telefonoFijo,
                  cntc_fono_movil as telefonoMovil, cntc_fecha_nacimiento as fechaNacimiento
    </select>

    <!-- Sentencia SQL de Actualizar-->
    <update id="actualizar" parameterType="com.elitsoft.servicampo.domain.entity.Contacto">
        UPDATE ${schema}contactos
        SET  cntc_nombre = #{nombre}              , cntc_apellido_paterno = #{apellidoPaterno} ,  cntc_apellido_materno = #{apellidoMaterno} ,
             cntc_imagen_perfil = #{imagenPerfil} , cntc_email  = #{correoElectronico}         , cntc_fono_fijo         = #{telefonoFijo}    ,
             cntc_fono_movil    = #{telefonoMovil}, cntc_fecha_nacimiento = #{fechaNacimiento}
        WHERE cntc_id = #{id}
    </update>

    <!-- Sentencia SQL de Eliminar-->
    <delete id="eliminar" parameterType="long">
        DELETE FROM ${schema}contactos
        WHERE cntc_id = #{id}
    </delete>

    <!-- Sentencia SQL de Insertar LOTE-->
    <insert id="agregarLote" parameterType="java.util.List" >
        INSERT INTO ${schema}contactos
                              (cntc_nombre       , cntc_apellido_paterno, cntc_apellido_materno , cntc_imagen_perfil    ,
                               cntc_email        , cntc_fono_fijo       , cntc_fono_movil       , cntc_fecha_nacimiento ,
                               doid_id           , clnt_id
                              ) VALUES
        <foreach item="contacto" collection="contactoLote" separator=",">
                             (#{contacto.nombre}       , #{contacto.apellidoPaterno}   , #{contacto.apellidoMaterno} , #{contacto.imagenPerfil} ,
                              #{contacto.correoElectronico} , #{contacto.telefonoFijo} , #{contacto.telefonoMovil}   , #{contacto.fechaNacimiento},
                              #{contacto.documentoIdentificacion.id} , #{contacto.cliente.id}
                             )
        </foreach>
    </insert>

    <!-- Sentencia SQL de Actualizar LOTE-->
    <update id="actualizarLote" parameterType="java.util.List" >
        <foreach item='contacto' collection='contactoLote' separator=';'>
            UPDATE ${schema}contactos
            SET  cntc_nombre = #{contacto.nombre}             , cntc_apellido_paterno = #{contacto.apellidoPaterno} , cntc_apellido_materno = #{contacto.apellidoMaterno} ,
                 cntc_imagen_perfil = #{contacto.imagenPerfil}, cntc_email  = #{contacto.correoElectronico}         , cntc_fono_fijo        = #{contacto.telefonoFijo}    ,
                 cntc_fono_movil = #{contacto.telefonoMovil}  , cntc_fecha_nacimiento = #{contacto.fechaNacimiento}
            WHERE cntc_id = #{contacto.id}
        </foreach>
    </update>

    <!-- Sentencia SQL de Eliminar LOTE-->
    <delete id="eliminarLote" parameterType="java.util.List" >
        DELETE FROM ${schema}contactos WHERE cntc_id IN
        <foreach item='id' collection='idLote' open='(' separator=',' close=')'>
            #{id}
        </foreach>
    </delete>
</mapper>