<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elitsoft.servicampo.mapper.DireccionMapper">

    <resultMap id="direccionResultMap" type="com.elitsoft.servicampo.domain.entity.Direccion">
        <id property="id" column="drcc_id" />
        <result property="descripcion" column="drcc_dsc" />
        <result property="calle" column="drcc_calle" />
        <result property="numeracion" column="drcc_numeracion" />
        <result property="referencia" column="drcc_referencia" />
        <result property="imagenPerfil" column="drcc_imagen_perfil" />
        <result property="latitud" column="drcc_latitud" />
        <result property="longitud" column="drcc_longitud" />
        <result property="flagEvidencia" column="drcc_flag_evidencia" />
        <association property="cliente" resultMap="com.elitsoft.servicampo.mapper.ClienteMapper.clienteResultMap"/>
        <association property="comuna" resultMap="com.elitsoft.servicampo.mapper.ComunaMapper.comunaResultMap"/>
        <association property="sector" resultMap="com.elitsoft.servicampo.mapper.SectorMapper.sectorResultMap"/>
        <association property="tipoDireccion" resultMap="com.elitsoft.servicampo.mapper.TipoDireccionMapper.tipoDireccionResultMap"/>
        <association property="estado" resultMap="com.elitsoft.servicampo.mapper.EstadoMapper.estadoResultMap"/>
        <association property="ruta" resultMap="com.elitsoft.servicampo.mapper.RutaMapper.rutaResultMap"/>
        <collection property="contactoDireccion" ofType="com.elitsoft.servicampo.domain.entity.ContactoDireccion" notNullColumn="cntc_id">
            <result property="rol" column="ctdr_rol" />
            <association property="direccion" javaType="com.elitsoft.servicampo.domain.entity.Direccion">
                <id property="id" column="drcc_id" />
            </association>
            <association property="cliente" javaType="com.elitsoft.servicampo.domain.entity.Cliente">
                <id property="id" column="clnt_id" />
            </association>
            <association property="contacto"  javaType="com.elitsoft.servicampo.domain.entity.Contacto">
                <id property="id" column="cntc_id" />
                <result property="nombre" column="cntc_nombre" />
                <result property="apellidoPaterno" column="cntc_apellido_paterno" />
                <result property="apellidoMaterno" column="cntc_apellido_materno" />
                <result property="fechaNacimiento" column="cntc_fecha_nacimiento" />
                <result property="imagenPerfil" column="cntc_imagen_perfil" />
                <result property="correoElectronico" column="cntc_email" />
                <result property="telefonoFijo" column="cntc_fono_fijo" />
                <result property="telefonoMovil" column="cntc_fono_movil" />
                <association property="documentoIdentificacion"  resultMap="com.elitsoft.servicampo.mapper.DocumentoIdentificacionMapper.documentoIdentificacionResultMap" />
                <association property="cliente"                  resultMap="com.elitsoft.servicampo.mapper.ClienteMapper.clienteResultMap" />
            </association>

        </collection>
    </resultMap>

    <!-- Sentencia SQL de Columnas, incluye detalle de  Provincia, Region, Pais, Zona -->
    <sql id="select">
        SELECT drcc.drcc_id ,     drcc.drcc_dsc ,  drcc.drcc_calle     , drcc.drcc_numeracion   , drcc.drcc_referencia     ,
        drcc.drcc_imagen_perfil,  drcc.drcc_latitud   , drcc.drcc_longitud     , drcc.drcc_flag_evidencia ,
        clnt.clnt_id , clnt.clnt_nombre ,
        cmna.cmna_id , cmna.cmna_dsc    ,
        prvs.prvs_id , prvs.prvs_dsc    ,
        rgns.rgns_id , rgns.rgns_dsc    ,
        pses.pses_id , pses.pses_dsc    ,
        sctr.sctr_id , sctr.sctr_dsc    ,
        znas.znas_id , znas.znas_dsc    ,
        tpdr.tpdr_id , tpdr.tpdr_dsc    ,
        estd.estd_id , estd.estd_dsc    ,
        ruta.ruta_id , ruta.ruta_dsc    ,
        null as cntc_id
    </sql>

    <!-- Sentencia SQL para el FROM -->
    <sql id="from">
        FROM ${schema}direcciones     as drcc
        INNER JOIN ${schema}clientes  as clnt ON drcc.clnt_id = clnt.clnt_id
        INNER JOIN ${schema}comunas   as cmna ON drcc.cmna_id = cmna.cmna_id
        INNER JOIN ${schema}provincias as prvs ON cmna.prvs_id = prvs.prvs_id
        INNER JOIN ${schema}regiones  as rgns ON prvs.rgns_id = rgns.rgns_id
        INNER JOIN ${schema}paises    as pses ON rgns.pses_id = pses.pses_id
        INNER JOIN ${schema}sectores  as sctr ON drcc.sctr_id = sctr.sctr_id
        INNER JOIN ${schema}zonas     as znas ON sctr.znas_id = znas.znas_id
        INNER JOIN ${schema}tipos_direcciones as tpdr ON drcc.tpdr_id = tpdr.tpdr_id
        INNER JOIN ${schema}estados   as estd ON drcc.estd_id = estd.estd_id
        INNER JOIN ${schema}rutas     as ruta ON drcc.ruta_id = ruta.ruta_id
    </sql>

    <!-- Sentencia SQL de Encontrar por Clave -->
    <select id="encontrarPorClave" parameterType="long" resultMap="direccionResultMap">
        <include refid="select"/>
        <include refid="from"/>
        WHERE drcc.clnt_id = #{clienteId}
        AND drcc.drcc_id = #{id}
    </select>

    <!-- Sentencia SQL  (Direcciones -→ Contactos   via ContactoDireccion) -->
    <select id="obtenerContactosPorDireccion" parameterType="long" resultMap="direccionResultMap">

        SELECT  ctdr.drcc_id , ctdr.clnt_id     , ctdr.ctdr_rol             ,
                cntc.cntc_id , cntc.cntc_nombre , cntc.cntc_apellido_paterno, cntc.cntc_apellido_materno,
                cntc.cntc_imagen_perfil         , cntc.cntc_email           , cntc.cntc_fono_fijo       ,
                cntc.cntc_fono_movil            , cntc.cntc_fecha_nacimiento,
                doid.doid_id , doid.doid_num    , doid.doid_dv              ,
                tpdi.tpdi_id , tpdi.tpdi_nombre , tpdi.tpdi_dsc
        FROM ${schema}contatos_direcciones as ctdr
        INNER JOIN ${schema}contactos as cntc ON ctdr.cntc_id = cntc.cntc_id
        INNER JOIN ${schema}documentos_identificacion as doid ON cntc.doid_id = doid.doid_id
        INNER JOIN ${schema}tipos_documentos_identificacion as tpdi ON doid.tpdi_id = tpdi.tpdi_id
        WHERE ctdr.clnt_id = #{clienteId}
          AND ctdr.drcc_id = #{id}
        ORDER BY cntc.cntc_nombre
    </select>


    <!-- Sentencia SQL de Filtrar y paginar -->
    <select id="filtrar" resultMap="direccionResultMap">
        <include refid="select"/>
        <include refid="from"/>
        <where>
            <if test="filtro != null">
                <if test="filtro.clienteId != null">
                    AND drcc.clnt_id = #{filtro.clienteId}
                </if>
                <if test="filtro.descripcion != null and filtro.descripcion != ''">
                    AND LOWER(drcc.drcc_dsc ) LIKE '%' || LOWER(#{filtro.descripcion}) || '%'
                </if>
                <if test="filtro.calle != null and filtro.calle != ''">
                    AND LOWER(drcc.drcc_calle) LIKE '%' || LOWER(#{filtro.calle}) || '%'
                </if>
                <if test="filtro.comunaId != null">
                    AND drcc.cmna_id = #{filtro.comunaId}
                </if>
                <if test="filtro.sectorId != null">
                    AND drcc.sctr_id = #{filtro.sectorId}
                </if>
                <if test="filtro.estadoId != null">
                    AND drcc.estd_id = #{filtro.estadoId}
                </if>
            </if>
        </where>
        <if test="campoOrden != null and campoOrden != ''">
            <choose>
                <when test="campoOrden == 'clienteId'">ORDER BY drcc.clnt_id ${direccionOrden}</when>
                <when test="campoOrden == 'descripcion'">ORDER BY drcc.drcc_dsc  ${direccionOrden}</when>
                <when test="campoOrden == 'calle'">ORDER BY drcc.drcc_calle ${direccionOrden}</when>
                <when test="campoOrden == 'comunaId'">ORDER BY drcc.cmna_id ${direccionOrden}</when>
                <when test="campoOrden == 'sectorId'">ORDER BY drcc.sctr_id ${direccionOrden}</when>
                <when test="campoOrden == 'estadoId'">ORDER BY drcc.estd_id ${direccionOrden}</when>
                <otherwise>ORDER BY drcc.clnt_id, drcc.drcc_id ASC</otherwise>
            </choose>
        </if>
        <if test="limite != null and desplazamiento != null">
            LIMIT #{limite} OFFSET #{desplazamiento}
        </if>
    </select>

    <!-- Sentencia SQL de contar el Filtro para paginacion -->
    <select id="contarFiltrar" resultType="int">
        SELECT COUNT(*)        
        <include refid="from"/>
        <where>
            <if test="filtro != null">
                <if test="filtro.clienteId != null">
                    AND drcc.clnt_id = #{filtro.clienteId}
                </if>
                <if test="filtro.descripcion != null and filtro.descripcion != ''">
                    AND LOWER(drcc.drcc_dsc ) LIKE '%' || LOWER(#{filtro.descripcion}) || '%'
                </if>
                <if test="filtro.calle != null and filtro.calle != ''">
                    AND LOWER(drcc.drcc_calle) LIKE '%' || LOWER(#{filtro.calle}) || '%'
                </if>
                <if test="filtro.comunaId != null">
                    AND drcc.cmna_id = #{filtro.comunaId}
                </if>
                <if test="filtro.sectorId != null">
                    AND drcc.sctr_id = #{filtro.sectorId}
                </if>
                <if test="filtro.estadoId != null">
                    AND drcc.estd_id = #{filtro.estadoId}
                </if>
            </if>
        </where>
    </select>


    <!-- Sentencia SQL de Insertar con campo Auto Incrementado-->
    <select id="agregar" resultType="com.elitsoft.servicampo.domain.entity.Direccion" affectData="true" flushCache="true">
        INSERT INTO ${schema}direcciones (clnt_id           , drcc_dsc     , drcc_calle    , drcc_numeracion ,
                                          drcc_referencia   , cmna_id      , sctr_id       , tpdr_id         ,
                                          drcc_imagen_perfil, drcc_latitud , drcc_longitud , estd_id         ,
                                          drcc_flag_evidencia, ruta_id)
                                VALUES  (#{cliente.id}      , #{descripcion}  , #{calle}    , #{numeracion}      ,
                                         #{referencia}      , #{comuna.id}    , #{sector.id}, #{tipoDireccion.id},
                                         #{imagenPerfil}    , #{latitud}      , #{longitud} , #{estado.id}       ,
                                         #{flagEvidencia}   , #{ruta.id})
        returning drcc_id as id, drcc_dsc as descripcion, drcc_calle as calle, drcc_numeracion as numeracion, drcc_referencia as referencia
    </select>

    <!-- Sentencia SQL de Actualizar-->
    <update id="actualizar" parameterType="com.elitsoft.servicampo.domain.entity.Direccion">
        UPDATE ${schema}direcciones
        SET  drcc_dsc        = #{descripcion}         , drcc_calle    = #{calle}           ,  drcc_numeracion     = #{numeracion}    ,
             drcc_referencia = #{referencia}          , cmna_id       = #{comuna.id}       ,  sctr_id             = #{sector.id}     ,
             tpdr_id         = #{tipoDireccion.id}    , drcc_imagen_perfil = #{imagenPerfil}, drcc_latitud        = #{latitud}       ,
             drcc_longitud   = #{longitud}            , estd_id        = #{estado.id}      ,  drcc_flag_evidencia = #{flagEvidencia} ,
             ruta_id         = #{ruta.id}
        WHERE clnt_id = #{cliente.id}
          AND drcc_id = #{id}
    </update>

    <!-- Sentencia SQL de Eliminar-->
    <delete id="eliminar" parameterType="long">
        DELETE FROM ${schema}direcciones
        WHERE clnt_id = #{clienteId}
          AND drcc_id = #{id}
    </delete>

    <!-- Sentencia SQL de Insertar LOTE-->
    <insert id="agregarLote" parameterType="java.util.List" >
        INSERT INTO ${schema}direcciones (clnt_id            , drcc_dsc    , drcc_calle    , drcc_numeracion,
                                          drcc_referencia    , cmna_id     , sctr_id       , tpdr_id        ,
                                          drcc_imagen_perfil , drcc_latitud, drcc_longitud , estd_id        ,
                                          drcc_flag_evidencia, ruta_id
                                         ) VALUES
        <foreach item="direccion" collection="direccionLote" separator=",">
                                        (#{direccion.cliente.id}   , #{direccion.descripcion}, #{direccion.calle}      , #{direccion.numeracion}      ,
                                         #{direccion.referencia}   , #{direccion.comuna.id}  , #{direccion.sector.id}  , #{direccion.tipoDireccion.id},
                                         #{direccion.imagenPerfil} , #{direccion.latitud}    , #{direccion.longitud}   , #{direccion.estado.id}       ,
                                         #{direccion.flagEvidencia}, #{direccion.ruta.id}
                                        )
        </foreach>
    </insert>

    <!-- Sentencia SQL de Actualizar LOTE-->
    <update id="actualizarLote" parameterType="java.util.List" >
        <foreach item='direccion' collection='direccionLote' separator=';'>
            UPDATE ${schema}direcciones
            SET  drcc_dsc        = #{direccion.descripcion}      , drcc_calle          = #{direccion.calle}         ,
                 drcc_numeracion = #{direccion.numeracion}       , drcc_referencia     = #{direccion.referencia}    ,
                 cmna_id         = #{direccion.comuna.id}        , sctr_id             = #{direccion.sector.id}     ,
                 tpdr_id         = #{direccion.tipoDireccion.id} , drcc_imagen_perfil  = #{direccion.imagenPerfil}  ,
                 drcc_latitud    = #{direccion.latitud}          , drcc_longitud       = #{direccion.longitud}      ,
                 estd_id         = #{direccion.estado.id}        , drcc_flag_evidencia = #{direccion.flagEvidencia} ,
                 ruta_id         = #{direccion.ruta.id}
            WHERE clnt_id = #{direccion.cliente.id}
             AND  drcc_id = #{direccion.id}
        </foreach>
    </update>

    <!-- Sentencia SQL de Eliminar LOTE-->
    <delete id="eliminarLote" parameterType="java.util.List" >
        DELETE FROM ${schema}direcciones WHERE (clnt_id, drcc_id) IN
        <foreach item='direccion' collection='direccionLote' open='(' separator=',' close=')'>
            (#{direccion.cliente.id}, #{direccion.id})
        </foreach>
    </delete>
</mapper>