<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elitsoft.servicampo.mapper.SubMenuMapper">

    <resultMap id="subMenuResultMap" type="com.elitsoft.servicampo.domain.entity.SubMenu">
        <id property="id" column="sbmn_id"/>
        <result property="nombre" column="sbmn_nom"/>
        <association property="menu" column="mnus_id" javaType="com.elitsoft.servicampo.domain.entity.Menu" select="com.elitsoft.servicampo.mapper.MenuMapper.encontrarPorClave"/>
        <collection property="modulo" ofType="com.elitsoft.servicampo.domain.entity.Modulo" column="sbmn_id" select="selectModulosBySubMenuId"/>

    </resultMap>

    <select id="encontrarPorClave" parameterType="long" resultMap="subMenuResultMap">
        SELECT sbmn_id, sbmn_nom, mnus_id FROM ${schema}submenus WHERE sbmn_id = #{id}
    </select>

    <select id="obtenerTodos" resultMap="subMenuResultMap">
        SELECT sbmn_id, sbmn_nom, mnus_id FROM ${schema}submenus
    </select>

    <select id="selectModulosBySubMenuId" parameterType="long" resultMap="com.elitsoft.servicampo.mapper.ModuloMapper.moduloResultMap">
        SELECT * FROM ${schema}modulos WHERE sbmn_id = #{sbmn_id}
    </select>

    <!-- Sentencia SQL de Insertar-->
    <insert id="agregar" parameterType="com.elitsoft.servicampo.domain.entity.SubMenu">
        INSERT INTO ${schema}submenus (sbmn_id, sbmn_nom, mnus_id) VALUES (#{id}, #{nombre}, #{menu.id})
    </insert>

    <!-- Sentencia SQL de Actualizar-->
    <update id="actualizar" parameterType="com.elitsoft.servicampo.domain.entity.SubMenu">
        UPDATE ${schema}submenus SET sbmn_nom = #{nombre}, mnus_id = #{menu.id} WHERE sbmn_id = #{id}
    </update>

    <!-- Sentencia SQL de Eliminar-->
    <delete id="eliminar" parameterType="long">
        DELETE FROM ${schema}submenus WHERE sbmn_id = #{id}
    </delete>

</mapper>