<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elitsoft.servicampo.mapper.TareaMapper">

    <resultMap id="tareaResultMap" type="com.elitsoft.servicampo.domain.entity.Tarea">
        <id property="id" column="tras_id"/>
        <result property="descripcionTarea" column="tras_dsc"/>
    </resultMap>

    <select id="encontrarPorClave" parameterType="long" resultMap="tareaResultMap">
        SELECT tras_id, tras_dsc FROM ${schema}tareas WHERE tras_id = #{id}
    </select>

    <select id="obtenerTodos" resultMap="tareaResultMap">
        SELECT tras_id, tras_dsc FROM ${schema}tareas
    </select>

    <select id="filtrarTareas" resultMap="tareaResultMap">
        SELECT * FROM ${schema}tareas
        <where>
            <if test="filtro != null">
                <if test="filtro.id != null and filtro.id != ''">
                    AND tras_id = #{filtro.id}
                </if>
                <if test="filtro.descripcionTarea != null and filtro.descripcionTarea != ''">
                    AND tras_dsc LIKE #{filtro.descripcionTarea}
                </if>
            </if>
        </where>
        <if test="campoOrden != null and campoOrden != ''">
            ORDER BY ${campoOrden} ${direccionOrden}
        </if>
        LIMIT #{limite} OFFSET #{desplazamiento}
    </select>

    <select id="contarFiltroTareas" resultType="int">
        SELECT COUNT(*) FROM ${schema}tareas
        <where>
            <if test="filtro != null">
                <if test="filtro.id != null and filtro.id != ''">
                    AND tras_id = #{filtro.id}
                </if>
                <if test="filtro.descripcionTarea != null and filtro.descripcionTarea != ''">
                    AND tras_dsc LIKE #{filtro.descripcionTarea}
                </if>
            </if>
        </where>
    </select>

    <!-- Sentencia SQL de Insertar-->
    <insert id="agregar" parameterType="com.elitsoft.servicampo.domain.entity.Tarea">
        INSERT INTO ${schema}tareas (tras_id, tras_dsc) VALUES (#{id}, #{descripcionTarea})
    </insert>

    <!-- Sentencia SQL de Actualizar-->
    <update id="actualizar" parameterType="com.elitsoft.servicampo.domain.entity.Tarea">
        UPDATE ${schema}tareas SET tras_dsc = #{descripcionTarea} WHERE tras_id = #{id}
    </update>

    <!-- Sentencia SQL de Eliminar-->
    <delete id="eliminar" parameterType="long">
        DELETE FROM ${schema}tareas WHERE tras_id = #{id}
    </delete>

</mapper>