<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elitsoft.servicampo.mapper.TipoDireccionMapper">

    <resultMap id="tipoDireccionResultMap" type="com.elitsoft.servicampo.domain.entity.TipoDireccion">
        <id property="id" column="tpdr_id" />
        <result property="descripcion" column="tpdr_dsc" />
    </resultMap>

    <!-- Sentencia SQL de Columnas -->
    <sql id="select">
        SELECT tpdr_id, tpdr_dsc
    </sql>

    <!-- Sentencia SQL para el FROM -->
    <sql id="from">
        FROM ${schema}tipos_direcciones
    </sql>

    <!-- Sentencia SQL de Encontrar por Clave -->
    <select id="encontrarPorClave" parameterType="long" resultMap="tipoDireccionResultMap">
        <include refid="select"/>
        <include refid="from"/>
        WHERE tpdr_id = #{id}
    </select>

   <!-- Sentencia SQL de Obtener todos-->
    <select id="obtenerTodos" resultMap="tipoDireccionResultMap">
        <include refid="select"/>
        <include refid="from"/>
    </select>

    <!-- Sentencia SQL de Filtrar y paginar -->
    <select id="filtrar" resultMap="tipoDireccionResultMap">
        <include refid="select"/>
        <include refid="from"/>
        <where>
            <if test="filtro != null">
                <if test="filtro.id != null">
                    AND tpdr_id = #{filtro.id}
                </if>
                <if test="filtro.descripcion != null and filtro.descripcion != ''">
                    AND LOWER(tpdr_dsc) LIKE '%' || LOWER(#{filtro.descripcion}) || '%'
                </if>
            </if>
        </where>
        <if test="campoOrden != null and campoOrden != ''">
            <choose>
                <when test="campoOrden == 'id'">ORDER BY tpdr_id ${direccionOrden}</when>
                <when test="campoOrden == 'descripcion'">ORDER BY tpdr_dsc ${direccionOrden}</when>
                <otherwise>ORDER BY tpdr_id ASC</otherwise>
            </choose>
        </if>
        <if test="limite != null and desplazamiento != null">
            LIMIT #{limite} OFFSET #{desplazamiento}
        </if>
    </select>

    <!-- Sentencia SQL de contar el Filtro para paginacion -->
    <select id="contarFiltrar" resultType="int">
        SELECT COUNT(*)        
        <include refid="from"/>
        <where>
            <if test="filtro != null">
                <if test="filtro.id != null">
                    AND tpdr_id = #{filtro.id}
                </if>
                <if test="filtro.descripcion != null and filtro.descripcion != ''">
                    AND LOWER(tpdr_dsc) LIKE '%' || LOWER(#{filtro.descripcion}) || '%'
                </if>
            </if>
        </where>
    </select>

    <!-- Sentencia SQL de Insertar con campo Auto Incrementado-->
      <select id="agregar" resultType="com.elitsoft.servicampo.domain.entity.TipoDireccion" affectData="true" flushCache="true">
        INSERT INTO ${schema}tipos_direcciones (tpdr_dsc)
        VALUES (#{descripcion})
        returning tpdr_id as id, tpdr_dsc as descripcion
    </select>

    <!-- Sentencia SQL de Actualizar-->
    <update id="actualizar" parameterType="com.elitsoft.servicampo.domain.entity.TipoDireccion">
        UPDATE ${schema}tipos_direcciones
        SET  tpdr_dsc = #{descripcion}
        WHERE tpdr_id = #{id}
    </update>

    <!-- Sentencia SQL de Eliminar-->
    <delete id="eliminar" parameterType="long">
        DELETE FROM ${schema}tipos_direcciones
        WHERE tpdr_id = #{id}
    </delete>

    <!-- Sentencia SQL de Insertar LOTE-->
    <insert id="agregarLote" parameterType="java.util.List" >
        INSERT INTO ${schema}tipos_direcciones (tpdr_dsc) VALUES
        <foreach item="tipoDireccion" collection="tipoDireccionLote" separator=",">
            (#{tipoDireccion.descripcion} )
        </foreach>
    </insert>

    <!-- Sentencia SQL de Actualizar LOTE-->
    <update id="actualizarLote" parameterType="java.util.List" >
        <foreach item='tipoDireccion' collection='tipoDireccionLote' separator=';'>
            UPDATE ${schema}tipos_direcciones
            SET tpdr_dsc = #{tipoDireccion.descripcion}
            WHERE tpdr_id = #{tipoDireccion.id}
        </foreach>
    </update>

    <!-- Sentencia SQL de Eliminar LOTE-->
    <delete id="eliminarLote" parameterType="java.util.List" >
        DELETE FROM ${schema}tipos_direcciones WHERE tpdr_id IN
        <foreach item='id' collection='idLote' open='(' separator=',' close=')'>
            #{id}
        </foreach>
    </delete>
</mapper>