<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elitsoft.servicampo.mapper.TipoProductoMapper">

    <resultMap id="tipoProductoResultMap" type="com.elitsoft.servicampo.domain.entity.TipoProducto">
        <id property="id" column="tppr_id"/>
        <result property="descripcionTipoProducto" column="tppr_dsc"/>
    </resultMap>

    <resultMap id="tipoProductoAsginacionResultMap" type="com.elitsoft.servicampo.domain.dto.core.TipoProductoDTO">
        <id property="id" column="tppr_id"/>
        <result property="descripcionTipoProducto" column="tppr_dsc"/>
        <result property="tipoProductoTipoComponentes" column="tipoProductoTipoComponentes" jdbcType="OTHER" javaType="java.util.List" typeHandler="com.elitsoft.servicampo.handler.TipoProductoTipoComponenteListTypeHandler"/>
    </resultMap>

    <!-- Sentencia SQL de Encontrar por Clave -->
    <select id="encontrarPorClave" parameterType="long" resultMap="tipoProductoResultMap">
        SELECT tppr_id, tppr_dsc FROM ${schema}tipos_productos WHERE tppr_id = #{id}
    </select>

   <!-- Sentencia SQL de Obtener todos-->
    <select id="obtenerTodos" resultMap="tipoProductoResultMap">
        SELECT tppr_id, tppr_dsc FROM ${schema}tipos_productos
    </select>

    <!-- Sentencia SQL de Filtrar y paginar -->
    <select id="filtrar" resultMap="tipoProductoResultMap">
        SELECT * FROM ${schema}tipos_productos
        <where>
            <if test="filtro != null">
                <if test="filtro.id != null">
                    AND tppr_id = #{filtro.id}
                </if>
                <if test="filtro.descripcionTipoProducto != null and filtro.descripcionTipoProducto != ''">
                    AND LOWER(tppr_dsc) LIKE '%' || LOWER(#{filtro.descripcionTipoProducto}) || '%'
                </if>
            </if>
        </where>
        <if test="campoOrden != null and campoOrden != ''">
            <choose>
                <when test="campoOrden == 'id'">ORDER BY tppr_id ${direccionOrden}</when>
                <when test="campoOrden == 'descripcionTipoProducto'">ORDER BY tppr_dsc ${direccionOrden}</when>
                <otherwise>ORDER BY tppr_id ASC</otherwise>
            </choose>
        </if>
        <if test="limite != null and desplazamiento != null">
            LIMIT #{limite} OFFSET #{desplazamiento}
        </if>
    </select>

    <!-- Sentencia SQL de contar el Filtro para paginacion -->
    <select id="contarFiltrar" resultType="int">
        SELECT COUNT(*) FROM ${schema}tipos_productos
        <where>
            <if test="filtro != null">
                <if test="filtro.id != null">
                    AND tppr_id = #{filtro.id}
                </if>
                <if test="filtro.descripcionTipoProducto != null and filtro.descripcionTipoProducto != ''">
                    AND LOWER(tppr_dsc) LIKE '%' || LOWER(#{filtro.descripcionTipoProducto}) || '%'
                </if>
            </if>
        </where>
    </select>

        <!-- Sentencia SQL de Filtrar y paginar Asignaciones (Tipos Productos -> Tipos Componentes) -->
    <select id="filtrarAsignacion" resultMap="tipoProductoAsginacionResultMap">
        WITH tipo_producto_filtrados AS (
            SELECT tppr.tppr_id, tppr.tppr_dsc
            FROM ${schema}tipos_productos as tppr
            <where>
                <if test="filtro != null">
                    <if test="filtro.id != null">
                        AND tppr.tppr_id = #{filtro.id}
                   </if>
                   <if test="filtro.descripcionTipoProducto != null and filtro.descripcionTipoProducto != ''">
                        AND LOWER(tppr.tppr_dsc) LIKE '%' || LOWER(#{filtro.descripcionTipoProducto}) || '%'
                    </if>
                    <if test="filtro.nombreTipoComponente != null and filtro.nombreTipoComponente != ''">
                        AND EXISTS (
                            SELECT 1 
                            FROM ${schema}tipos_productos_tipos_componentes as tptc
                            JOIN ${schema}tipos_componentes                 as tpcm ON tptc.tpcm_id = tpcm.tpcm_id
                            WHERE tptc.tppr_id = tppr.tppr_id
                            AND LOWER(tpcm.tpcm_nombre) LIKE '%' || LOWER(#{filtro.nombreTipoComponente}) || '%'
                        )
                    </if>
                </if>
            </where>
            <if test="campoOrden != null and campoOrden != ''">
                <choose>
                    <when test="campoOrden == 'id'">ORDER BY tppr.tppr_id ${direccionOrden}</when>
                    <when test="campoOrden == 'descripcionTipoProducto'">ORDER BY tppr.tppr_dsc ${direccionOrden}</when>
                    <otherwise>ORDER BY tppr.tppr_id ASC</otherwise>
                </choose>
            </if>
            <if test="limite != null and desplazamiento != null">
                LIMIT #{limite} OFFSET #{desplazamiento}
            </if>
        )
        
        SELECT 
            tpf.tppr_id,
            tpf.tppr_dsc,
            COALESCE(
                jsonb_agg(
                    CASE WHEN tpcm.tpcm_id IS NOT NULL THEN
                        jsonb_build_object(
                            'tipoProducto', jsonb_build_object(
                                'id', tpf.tppr_id
                            ),
                            'tipoComponente', jsonb_build_object(
                                'id', tpcm.tpcm_id,
                                'nombre', tpcm.tpcm_nombre,
                                'descripcion', tpcm.tpcm_dsc
                            ),
                            'cantidad', tptc.tptc_cant
                        )
                    ELSE NULL
                    END
                    ORDER BY tpf.tppr_id, tpcm.tpcm_id NULLS LAST
                ) FILTER (WHERE tpcm.tpcm_id IS NOT NULL),
                '[]'
            ) AS tipoProductoTipoComponentes
        FROM tipo_producto_filtrados tpf
        LEFT JOIN ${schema}tipos_productos_tipos_componentes as tptc ON tpf.tppr_id = tptc.tppr_id
        LEFT JOIN ${schema}tipos_componentes                 as tpcm ON tptc.tpcm_id = tpcm.tpcm_id
        <if test="filtro.nombreTipoComponente != null and filtro.nombreTipoComponente != ''">
            AND LOWER(tpcm.tpcm_nombre) LIKE '%' || LOWER(#{filtro.nombreTipoComponente}) || '%'
        </if>
        GROUP BY tpf.tppr_id, tpf.tppr_dsc
        ORDER BY 
        <if test="campoOrden != null and campoOrden != ''">
            <choose>
                <when test="campoOrden == 'id'">tpf.tppr_id ${direccionOrden}</when>
                <when test="campoOrden == 'descripcionTipoProducto'">tpf.tppr_dsc ${direccionOrden}</when>
                <otherwise>tpf.tppr_id ASC</otherwise>
            </choose>
        </if>
    </select>

    <!-- Sentencia SQL de contar el Filtro para paginacion Asignaciones (Tipos Productos -> Tipos Componentes) -->
    <select id="contarFiltrarAsignacion" resultType="int">
        SELECT COUNT(DISTINCT tppr.tppr_id)        
         FROM ${schema}tipos_productos as tppr
        <where>
                <if test="filtro != null">
                    <if test="filtro.id != null">
                        AND tppr.tppr_id = #{filtro.id}
                   </if>
                   <if test="filtro.descripcionTipoProducto != null and filtro.descripcionTipoProducto != ''">
                        AND LOWER(tppr.tppr_dsc) LIKE '%' || LOWER(#{filtro.descripcionTipoProducto}) || '%'
                    </if>
                    <if test="filtro.nombreTipoComponente != null and filtro.nombreTipoComponente != ''">
                        AND EXISTS (
                            SELECT 1 
                            FROM ${schema}tipos_productos_tipos_componentes as tptc
                            JOIN ${schema}tipos_componentes                 as tpcm ON tptc.tpcm_id = tpcm.tpcm_id
                            WHERE tptc.tppr_id = tppr.tppr_id
                            AND LOWER(tpcm.tpcm_nombre) LIKE '%' || LOWER(#{filtro.nombreTipoComponente}) || '%'
                        )
                    </if>
                </if>
        </where>
    </select>

    <!-- Sentencia SQL de Insertar con campo Auto Incrementado-->
      <select id="agregar" resultType="com.elitsoft.servicampo.domain.entity.TipoProducto" affectData="true" flushCache="true">
        INSERT INTO ${schema}tipos_productos (tppr_dsc)
        VALUES (#{descripcionTipoProducto})
        returning tppr_id as id, tppr_dsc as descripcionTipoProducto
    </select>

    <!-- Sentencia SQL de Actualizar-->
    <update id="actualizar" parameterType="com.elitsoft.servicampo.domain.entity.TipoProducto">
        UPDATE ${schema}tipos_productos
        SET  tppr_dsc = #{descripcionTipoProducto}
        WHERE tppr_id = #{id}
    </update>

    <!-- Sentencia SQL de Eliminar-->
    <delete id="eliminar" parameterType="long">
        DELETE FROM ${schema}tipos_productos
        WHERE tppr_id = #{id}
    </delete>

    <!-- Sentencia SQL de Insertar LOTE-->
    <insert id="agregarLote" parameterType="java.util.List" >
        INSERT INTO ${schema}tipos_productos (tppr_dsc) VALUES
        <foreach item="tipoProducto" collection="tipoProductoLote" separator=",">
            (#{tipoProducto.descripcionTipoProducto})
        </foreach>
    </insert>

    <!-- Sentencia SQL de Actualizar LOTE-->
    <update id="actualizarLote" parameterType="java.util.List" >
        <foreach item='tipoProducto' collection='tipoProductoLote' separator=';'>
            UPDATE ${schema}tipos_productos
            SET tppr_dsc = #{tipoProducto.descripcionTipoProducto}
            WHERE tppr_id = #{tipoProducto.id}
        </foreach>
    </update>

    <!-- Sentencia SQL de Eliminar LOTE-->
    <delete id="eliminarLote" parameterType="java.util.List" >
        DELETE FROM ${schema}tipos_productos WHERE tppr_id IN
        <foreach item='id' collection='idLote' open='(' separator=',' close=')'>
            #{id}
        </foreach>
    </delete>
</mapper>