<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elitsoft.servicampo.mapper.TrabajoTareaMapper">

    <resultMap id="trabajoTareaResultMap" type="com.elitsoft.servicampo.domain.entity.TrabajoTarea">
        <result property="ordenEjecucionTarea" column="trtr_secuencia"/>
        <association property="trabajo"  resultMap="com.elitsoft.servicampo.mapper.TrabajoMapper.trabajoResultMapSimple"/>
        <association property="tarea"  resultMap="com.elitsoft.servicampo.mapper.TareaMapper.tareaResultMap"/>
    </resultMap>

    <!-- Sentencia SQL de Columnas -->
    <sql id="select">
        SELECT trbj_id, tras_id, trtr_secuencia
    </sql>

    <!-- Sentencia SQL para el FROM -->
    <sql id="from">
        FROM ${schema}trabajos_tareas
    </sql>

    <!-- Sentencia SQL de Encontrar por Clave -->
    <select id="encontrarPorTrabajo" parameterType="long" resultMap="trabajoTareaResultMap">
        <include refid="select"/>
        <include refid="from"/>
        WHERE trbj_id = #{trabajoId}
    </select>

    <!-- Sentencia SQL de Encontrar por Clave -->
    <select id="encontrarPorClave" parameterType="long" resultMap="trabajoTareaResultMap">
        <include refid="select"/>
        <include refid="from"/>
        WHERE trbj_id = #{trabajoId} AND tras_id = #{tareaId}
    </select>

   <!-- Sentencia SQL de Obtener todos-->
    <select id="obtenerTodos" resultMap="trabajoTareaResultMap">
        <include refid="select"/>
        <include refid="from"/>
    </select>

    <!-- Sentencia SQL de Filtrar y paginar -->
    <select id="filtrar" resultMap="trabajoTareaResultMap">
        <include refid="select"/>
        <include refid="from"/>
        <where>
            <if test="filtro != null">
                <if test="filtro.trabajoId != null">
                    AND trbj_id = #{filtro.trabajoId}
                </if>
                <if test="filtro.tareaId != null">
                    AND tras_id = #{filtro.tareaId}
                </if>
                <if test="filtro.ordenEjecucionTarea != null">
                    AND trtr_secuencia = #{filtro.ordenEjecucionTarea}
                </if>
            </if>
        </where>
        <if test="campoOrden != null and campoOrden != ''">
            <choose>
                <when test="campoOrden == 'trabajoId'">ORDER BY trbj_id ${direccionOrden}</when>
                <when test="campoOrden == 'tareaId'">ORDER BY tras_id ${direccionOrden}</when>
                <when test="campoOrden == 'ordenEjecucionTarea'">ORDER BY trtr_secuencia ${direccionOrden}</when>
                <otherwise>ORDER BY trbj_id ASC</otherwise>
            </choose>
        </if>
        <if test="limite != null and desplazamiento != null">
            LIMIT #{limite} OFFSET #{desplazamiento}
        </if>
    </select>

    <!-- Sentencia SQL de contar el Filtro para paginacion -->
    <select id="contarFiltrar" resultType="int">
        SELECT COUNT(*)
        <include refid="from"/>
        <where>
            <if test="filtro != null">
                <if test="filtro.trabajoId != null">
                    AND trbj_id = #{filtro.trabajoId}
                </if>
                <if test="filtro.tareaId != null">
                    AND tras_id = #{filtro.tareaId}
                </if>
                <if test="filtro.ordenEjecucionTarea != null">
                    AND trtr_secuencia = #{filtro.ordenEjecucionTarea}
                </if>
            </if>
        </where>
    </select>

    <!-- Sentencia SQL de Insertar-->
    <insert id="agregar" parameterType="com.elitsoft.servicampo.domain.entity.TrabajoTarea">
        INSERT INTO ${schema}trabajos_tareas (trbj_id, tras_id, trtr_secuencia) 
        VALUES (#{trabajo.id}, #{tarea.id}, #{ordenEjecucionTarea})
    </insert>

    <!-- Sentencia SQL de Actualizar-->
    <update id="actualizar" parameterType="com.elitsoft.servicampo.domain.entity.TrabajoTarea">
        UPDATE ${schema}trabajos_tareas
        SET trtr_secuencia = #{ordenEjecucionTarea}
        WHERE trbj_id = #{trabajo.id} AND tras_id = #{tarea.id}
    </update>

    <!-- Sentencia SQL de Eliminar-->
    <delete id="eliminar" parameterType="long">
        DELETE FROM ${schema}trabajos_tareas
        WHERE trbj_id = #{trabajoId} AND tras_id = #{tareaId}
    </delete>

    <!-- Sentencia SQL de Insertar LOTE-->
    <insert id="agregarLote" parameterType="java.util.List">
        INSERT INTO ${schema}trabajos_tareas (trbj_id, tras_id, trtr_secuencia) VALUES
        <foreach item="trabajoTarea" collection="trabajoTareaLote" separator=",">
            (#{trabajoTarea.trabajo.id}, #{trabajoTarea.tarea.id}, #{trabajoTarea.ordenEjecucionTarea})
        </foreach>
    </insert>

    <!-- Sentencia SQL de Actualizar LOTE-->
    <update id="actualizarLote" parameterType="java.util.List">
        <foreach item='trabajoTarea' collection='trabajoTareaLote' separator=';'>
            UPDATE ${schema}trabajos_tareas
            SET trtr_secuencia = #{trabajoTarea.ordenEjecucionTarea}
            WHERE trbj_id = #{trabajoTarea.trabajo.id} AND tras_id = #{trabajoTarea.tarea.id} 
        </foreach>
    </update>

    <!-- Sentencia SQL de Eliminar LOTE-->
    <delete id="eliminarLote" parameterType="java.util.List">
        DELETE FROM ${schema}trabajos_tareas 
        WHERE (trbj_id, tras_id) IN
        <foreach item='trabajoTarea' collection='trabajoTareaLote' open='(' separator=',' close=')'>
            (#{trabajoTarea.trabajo.id}, #{trabajoTarea.tarea.id})
        </foreach>
    </delete>
</mapper>