<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elitsoft.servicampo.mapper.TrabajoMapper">

    <resultMap id="trabajoResultMap" type="com.elitsoft.servicampo.domain.entity.Trabajo">
        <id property="id" column="trbj_id"/>
        <result property="descripcionTrabajo" column="trbj_dsc"/>
        <collection property="trabajoTareas" ofType="com.elitsoft.servicampo.domain.entity.TrabajoTarea">
            <result property="ordenEjecucionTarea" column="trtr_secuencia"/>
            <association property="tarea"  resultMap="com.elitsoft.servicampo.mapper.TareaMapper.tareaResultMap"/>
        </collection>
    </resultMap>

    <resultMap id="trabajoAsginacionResultMap" type="com.elitsoft.servicampo.domain.dto.core.TrabajoDTO">
        <id property="id" column="trbj_id" />
        <result property="descripcionTrabajo" column="trbj_dsc"/>
        <result property="trabajoTareas" column="trabajoTareas" jdbcType="OTHER" javaType="java.util.List" typeHandler="com.elitsoft.servicampo.handler.TrabajoTareaListTypeHandler"/>
    </resultMap>

    
    <!-- Sentencia SQL de Columnas -->
    <sql id="select">
        SELECT trbj_id, trbj_dsc
    </sql>

    <!-- Sentencia SQL para el FROM -->
    <sql id="from">
        FROM ${schema}trabajos
    </sql>

    <!-- Sentencia SQL de Encontrar por Clave -->
    <select id="encontrarPorClave" parameterType="long" resultMap="trabajoResultMap">
        <include refid="select"/>
        <include refid="from"/>
        WHERE trbj_id = #{id}
    </select>

   <!-- Sentencia SQL de Obtener todos-->
    <select id="obtenerTodos" resultMap="trabajoResultMap">
        <include refid="select"/>
        <include refid="from"/>
    </select>

    <!-- Sentencia SQL de Filtrar y paginar -->
    <select id="filtrar" resultMap="trabajoResultMap">
        <include refid="select"/>
        <include refid="from"/>
        <where>
            <if test="filtro != null">
                <if test="filtro.id != null">
                    AND trbj_id = #{filtro.id}
                </if>
                <if test="filtro.descripcionTrabajo != null and filtro.descripcionTrabajo != ''">
                    AND LOWER(trbj_dsc) LIKE '%' || LOWER(#{filtro.descripcionTrabajo}) || '%'
                </if>
            </if>
        </where>
        <if test="campoOrden != null and campoOrden != ''">
            <choose>
                <when test="campoOrden == 'id'">ORDER BY trbj_id ${direccionOrden}</when>
                <when test="campoOrden == 'descripcionTrabajo'">ORDER BY trbj_dsc ${direccionOrden}</when>
                <otherwise>ORDER BY trbj_id ASC</otherwise>
            </choose>
        </if>
        <if test="limite != null and desplazamiento != null">
            LIMIT #{limite} OFFSET #{desplazamiento}
        </if>
    </select>

    <!-- Sentencia SQL de contar el Filtro para paginacion-->
    <select id="contarFiltrar" resultType="int">
        SELECT COUNT(*)        
        <include refid="from"/>
        <where>
            <if test="filtro != null">
                <if test="filtro.id != null">
                    AND trbj_id = #{filtro.id}
                </if>
                <if test="filtro.descripcionTrabajo != null and filtro.descripcionTrabajo != ''">
                    AND LOWER(trbj_dsc) LIKE '%' || LOWER(#{filtro.descripcionTrabajo}) || '%'
                </if>
            </if>
        </where>
    </select>
    
    <!-- Sentencia SQL de Filtrar y paginar Asignaciones (Trabajos -> Tareas) -->
    <select id="filtrarAsignacion" resultMap="trabajoAsginacionResultMap">
        WITH trabajos_filtrados AS (
            SELECT trbj.trbj_id, trbj.trbj_dsc
            FROM ${schema}trabajos as trbj
            <where>
                <if test="filtro != null">
                    <if test="filtro.id != null">
                        AND trbj.trbj_id = #{filtro.id}
                   </if>
                   <if test="filtro.descripcionTrabajo != null and filtro.descripcionTrabajo != ''">
                        AND LOWER(trbj.trbj_dsc) LIKE '%' || LOWER(#{filtro.descripcionTrabajo}) || '%'
                    </if>
                    <if test="filtro.descripcionTarea != null and filtro.descripcionTarea != ''">
                        AND EXISTS (
                            SELECT 1 
                            FROM ${schema}trabajos_tareas as trtr
                            JOIN ${schema}tareas          as tras ON trtr.tras_id = tras.tras_id
                            WHERE trtr.trbj_id = trbj.trbj_id
                            AND LOWER(tras.trbj_dsc) LIKE '%' || LOWER(#{filtro.descripcionTarea}) || '%'
                        )
                    </if>
                </if>
            </where>
            <if test="campoOrden != null and campoOrden != ''">
                <choose>
                    <when test="campoOrden == 'id'">ORDER BY trbj.trbj_id ${direccionOrden}</when>
                    <when test="campoOrden == 'descripcionTrabajo'">ORDER BY trbj.trbj_dsc ${direccionOrden}</when>
                    <otherwise>ORDER BY trbj.trbj_id ASC</otherwise>
                </choose>
            </if>
            <if test="limite != null and desplazamiento != null">
                LIMIT #{limite} OFFSET #{desplazamiento}
            </if>
        )
        
        SELECT 
            tf.trbj_id,
            tf.trbj_dsc,
            COALESCE(
                jsonb_agg(
                    CASE WHEN tras.tras_id IS NOT NULL THEN
                        jsonb_build_object(
                            'trabajo', jsonb_build_object(
                                'id', tf.trbj_id,
                                'descripcionTrabajo', tf.trbj_dsc
                            ),
                            'tarea', jsonb_build_object(
                                'id', tras.tras_id,
                                'descripcionTarea', tras.tras_dsc
                            ),
                            'ordenEjecucionTarea', trtr.trtr_secuencia
                        )
                    ELSE NULL
                    END
                    ORDER BY trtr.trtr_secuencia NULLS LAST
                ) FILTER (WHERE tras.tras_id IS NOT NULL),
                '[]'
            ) AS trabajoTareas
        FROM trabajos_filtrados tf
        LEFT JOIN ${schema}trabajos_tareas as trtr ON tf.trbj_id = trtr.trbj_id
        LEFT JOIN ${schema}tareas          as tras ON trtr.tras_id = tras.tras_id
        <if test="filtro.descripcionTarea != null and filtro.descripcionTarea != ''">
            AND LOWER(tras.tras_dsc) LIKE '%' || LOWER(#{filtro.descripcionTarea}) || '%'
        </if>
        GROUP BY tf.trbj_id, tf.trbj_dsc
        ORDER BY 
        <if test="campoOrden != null and campoOrden != ''">
            <choose>
                <when test="campoOrden == 'id'">tf.trbj_id ${direccionOrden}</when>
                <when test="campoOrden == 'descripcionTrabajo'">tf.trbj_dsc ${direccionOrden}</when>
                <otherwise>tf.trbj_id ASC</otherwise>
            </choose>
        </if>
    </select>

    <!-- Sentencia SQL de contar el Filtro para paginacion Asignaciones (Trabajos -> Tareas) -->
<select id="contarFiltrarAsignacion" resultType="int">
        SELECT COUNT(DISTINCT trbj.trbj_id)        
        FROM ${schema}trabajos as trbj
        <where>
                <if test="filtro != null">
                    <if test="filtro.id != null">
                        AND trbj.trbj_id = #{filtro.id}
                   </if>
                   <if test="filtro.descripcionTrabajo != null and filtro.descripcionTrabajo != ''">
                        AND LOWER(trbj.trbj_dsc) LIKE '%' || LOWER(#{filtro.descripcionTrabajo}) || '%'
                    </if>
                    <if test="filtro.descripcionTarea != null and filtro.descripcionTarea != ''">
                        AND EXISTS (
                            SELECT 1 
                            FROM ${schema}trabajos_tareas as trtr
                            JOIN ${schema}tareas          as tras ON trtr.tras_id = tras.tras_id
                            WHERE trtr.trbj_id = trbj.trbj_id
                            AND LOWER(tras.trbj_dsc) LIKE '%' || LOWER(#{filtro.descripcionTarea}) || '%'
                        )
                    </if>
                </if>
        </where>
    </select>


    <!-- Sentencia SQL de Insertar con campo Auto Incrementado-->
      <select id="agregar" resultType="com.elitsoft.servicampo.domain.entity.Trabajo" affectData="true" flushCache="true">
        INSERT INTO ${schema}trabajos (trbj_dsc)
        VALUES (#{descripcionTrabajo})
        returning trbj_id as id, trbj_dsc as descripcionTrabajo
    </select>

    <!-- Sentencia SQL de Actualizar-->
    <update id="actualizar" parameterType="com.elitsoft.servicampo.domain.entity.Trabajo">
        UPDATE ${schema}trabajos
        SET trbj_dsc = #{descripcionTrabajo}
        WHERE trbj_id = #{id}
    </update>

    <!-- Sentencia SQL de Eliminar-->
    <delete id="eliminar" parameterType="long">
        DELETE FROM ${schema}trabajos
        WHERE trbj_id = #{id}
    </delete>

    <!-- Sentencia SQL de Insertar LOTE-->
    <insert id="agregarLote" parameterType="java.util.List" >
        INSERT INTO ${schema}trabajos (trbj_dsc) VALUES
        <foreach item="trabajo" collection="trabajoLote" separator=",">
            (#{trabajo.descripcionTrabajo})
        </foreach>
    </insert>

    <!-- Sentencia SQL de Actualizar LOTE-->
    <update id="actualizarLote" parameterType="java.util.List" >
        <foreach item='trabajo' collection='trabajoLote' separator=';'>
            UPDATE ${schema}trabajos
            SET trbj_dsc = #{trabajo.descripcionTrabajo}
            WHERE trbj_id =  #{trabajo.id}
        </foreach>
    </update>

    <!-- Sentencia SQL de Eliminar LOTE-->
    <delete id="eliminarLote" parameterType="java.util.List" >
        DELETE FROM ${schema}trabajos WHERE trbj_id IN
        <foreach item='id' collection='idLote' open='(' separator=',' close=')'>
            #{id}
        </foreach>
    </delete>
</mapper>