<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elitsoft.servicampo.mapper.UserMapper"> <!-- Interface (clase)  Mapper de MyBatis-->


    <!-- Default and standard way myBatis map database query results to entities, can hanldler nested
    objects too-->
    <resultMap id="userResultMap" type="com.elitsoft.servicampo.domain.entity.User">
        <id property="id" column="id" />
        <result property="nombre" column="nombre" />
        <result property="clave" column="clave" />
        <collection property="roles" ofType="com.elitsoft.servicampo.domain.entity.Roles">
            <id property="id" column="id"/>
            <result property="nombre" column="nombre"/>
            <result property="usuarioId" column="usuario_id"/>
        </collection>

    </resultMap>

    <!-- Sentencia SQL de Filtrar por clave-->
    <select id="findByUsername" parameterType="string" resultMap="userResultMap">
        SELECT u.id, u.nombre, u.clave, r.id, r.nombre, r.usuario_id
        FROM users u, roles r
        WHERE u.id = r.usuario_id
          and u.nombre = #{username}
    </select>

    <select id="findById" parameterType="long" resultMap="userResultMap">
        SELECT u.id, u.nombre, u.clave, r.id, r.nombre, r.usuario_id
        FROM users u, roles r
        WHERE u.id = r.usuario_id
        and u.id = #{id}
    </select>

    <select id="selectUsers" resultType="com.elitsoft.servicampo.domain.entity.User">
        SELECT * FROM users
        <where>
            <if test="criteria != null">
                <if test="criteria.nombre != null and criteria.nombre != ''">
                    AND nombre LIKE #{criteria.nombre}
                </if>
                <if test="criteria.correo != null and criteria.correo != ''">
                    AND correo LIKE #{criteria.correo}
                </if>
                <if test="criteria.role != null and criteria.role != ''">
                    AND role = #{criteria.role}
                </if>
            </if>
        </where>
        <if test="sortField != null and sortField != ''">
            ORDER BY ${sortField} ${sortDirection}
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countUsers" resultType="int">
        SELECT COUNT(*) FROM users
        <where>
            <if test="criteria != null">
                <if test="criteria.nombre != null and criteria.nombre != ''">
                    AND nombre LIKE #{criteria.nombre}
                </if>
                <if test="criteria.correo != null and criteria.correo != ''">
                    AND correo LIKE #{criteria.correo}
                </if>
                <if test="criteria.role != null and criteria.role != ''">
                    AND role = #{criteria.role}
                </if>
            </if>
        </where>
    </select>


    <!-- Sentencia SQL de Insertar-->
    <insert id="agregar" parameterType="com.elitsoft.servicampo.domain.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (id, username, password)  VALUES (#{id}, #{username}, #{password})
    </insert>

    <!-- Sentencia SQL de Actulizar-->
    <insert id="actualizar" parameterType="com.elitsoft.servicampo.domain.entity.User">
        UPDATE users
        SET  password =  #{password}
        where id = #{id}
    </insert>

</mapper>